body{
    padding: 0;
    margin: 0;
    color: #565656;
    background: #f0f3f4;
    font-style: normal;
    font-family: "Open Sans", "Helvetica Neue", Arial, sans-serif;
    font-size: 16px;
    line-height: 1.7em;
    word-wrap: break-word;
}


a{
    text-decoration: none;
    color:#383F49;
}
a:hover{
    color: #f4e224;
}
#header{
    background: #152126;
}

#header-content{
    width: 1000px;
    height: 100px;
    margin: auto;
}

#logo{
   top: 30px;
    position: absolute;
}

.container{
    width: 90%;
    max-width: 1040px;
    margin: 0px auto;
    overflow: hidden;
}

#content{
    width: 69%;
    margin-right: 4%;
    float: left;
    margin: auto;
}

.entry-content{
    background: #fff;
    padding: 45px 50px;
    position: relative;
}

.post{
    margin-bottom: 20px;
}

#sidebar{
    background: #fff;
    width: 27%;
    height: 100%;
    min-height: 600px;
    padding: 30px 0px;
    float: right;
}

/** header*/

.navigation{
    display: inline-block;
    float: right;
   margin-top: 30px;

}
.menu{
    margin: 0 0 0 0;
    padding: 0;
    list-style-type: none;
    list-style-position: outside;
    position: relative;
    display: inline-block;
    margin-right: 30px;
}

.menu li{
    display: block;
    float: left;
    position: relative;
    padding-left: 20px;
}

.menu li a{
    font-family: "Montserrat", Helvetica, Arial, sans-serif;
    padding: 0px;
    display: block;
    text-align: left;
    font-size: 13px;

    line-height: 40px;
    text-transform: uppercase;
    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    transition: all 0.2s ease;
    vertical-align: middle;
    color: #bab5b5;
}

.menu li a:hover{
    color: #f4e224;
}
.icons a{
    color: #f4e224;
    float: right;
    margin: 5px 20px;
}
/* post*/

.imagemDestacada{
    width: 100%;
    height: auto;
}

.title{
    text-align: left;
    margin-bottom: 5px;
    font-size: 20px;
    line-height: 1.6;
    font-weight: 600;
    font-family: "Montserrat", Helvetica, Arial, sans-serif;
    text-transform: uppercase;
}

.post-meta{
    color: #B0B8BD;
    font-family: 'Open Sans', serif;
    font-weight: bold;
    font-size: 11px;
    text-transform: uppercase;
    text-align: left;
}

.sub-titulo{
    color: #152126;
    font-family: 'Open Sans', serif;
    font-weight: normal;
    font-size: 15px;
    text-transform: uppercase;
    text-align: left;
    padding: 7px 20px;
    border-bottom: 1px solid #383F49;
}

.post-body{
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
}

.categorias{
    background: #f5f5f5;
    font-weight: bold;
    padding: 10px 30px;
}

.tags{
    background: #f5f5f5;
    border-top: 1px solid #ddd;
    font-size: 12px;
    padding: 0px 30px;
}


/** /posts **/

/** sidebar */
.sidebar-container{
    padding: 15px 0px;
}

.sidebar-container h2{
    text-align: left;
    display: block;
    font-size: 14px;
    color: #4d515c;
    font-family: "Montserrat", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: bold;
    text-transform: uppercase;
    text-decoration: none;
    margin-bottom: 5px;
     margin-left: 10px;
}
.list{
    list-style: none;
    padding-left: 20px;
    font-size: 14px;
    margin: 0;
}

.body-sidebar{
    padding: 10px;
    font-size: 14px;
}

.categorias-list{
    list-style: none;
    padding: 0;
    margin: 0;
    margin-left: 10px;
}

.categorias-list a{
     text-align: left;
    display: block;
    font-size: 12px;
    color: #4d515c;
    font-family: "Montserrat", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 300;
    text-transform: uppercase;
    text-decoration: none;
    margin-bottom: 5px;
}

.categorias-list a:hover{
    color: #bab5b5;
}

.input-search{
    width: 70%;
    background: #f5f5f5;
    border: none;
    height: 35px;
}

.button-search{
    width: 25%;
    height: 35px;
    background: #152126;
    color:#f4e224;
    border: none;
}

.button-search:hover{
    cursor: pointer;
    background: #f4e224;
    color: #152126;
}
.footer{
    background: #152126;
    padding: 10px;
    bottom: 0;
    text-align: center;
    font-family: "Montserrat", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 13px;
    text-transform: uppercase;
    color: #f4e224;
}